<p>
    <strong>Commenter:</strong>
    <%= comment.user.username %>
    <p><%= image_tag comment.user.photo.ava.url %></p>
  </p>

  <p>
  	<strong>Rating:</strong>
  	<%= comment.localrate %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>