
* {
	margin: 0px;
	padding: 0px;
}

.contain {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	text-align: center;
	height: 80px;
	margin-top: 20px;
}
.goTo{
	a{
		line-height: 1;
		display: inline-block;
		color: gray;
		text-decoration:none;
		cursor: pointer;
		text-transform: uppercase;
		padding-left: 15px;
	}
	a:after {
		background-color: gray;
		display: block;
		content: "";
		height: 2px;
		width: 0%;
		-webkit-transition: width .3s ease-in-out;
		-moz--transition: width .3s ease-in-out;
		transition: width .3s ease-in-out;
	}
	a:hover:after,
	a:focus:after {
		width: 100%;
	}
}

#logo {
	width: 200px;
}
/*---------------------------------------------------------------Buttons-------------------*/

.btnReg {
	border-color: #097718;
	color: #097718 !important;
	background-color: #fff;

}
/*-------------------------------------search----------------------------------------------------*/
.description {
	color: white;
	text-align: center;
	padding-top: 150px;
	h1 {
		font-weight: bold;
		font-size: 40px;
	}
}

.search {
	display: flex;
	justify-content: center;
	input {
		&[type="text"] {
			width: 600px;
			height: 50px;
			border-radius: 10px;
			display: inline
		}
		&[type="submit"] {
			height: 50px;
			border-radius: 10px;
			display: inline;
		}
	}
}

/*--------------------------------------------Slider----------------------------------------------*/

.slider {
	background-image: url(slider.jpg);
	background-size: cover;
	width: 100%;
	height: 500px;
}

/*----------------------------------------------TopHotels-----------------------------------------*/
.raitingShow{
	padding-left: 20px;
}
.topHotels {
	margin-top: 50px;
	margin-bottom: 50px;
	h2{
		text-align: center;
		margin-bottom: 30px;
		font-weight: bold;
	}
	img {
		width: 400px;
		height: 250px;
		overflow: hidden;
	}
	.row {
		margin-bottom: 5px;
	}
}

hr {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}

/*------------------------------------------Rating----------------------------------------------------------*/

.rating {
	float: left;
	&:not(:checked) > {
		input {
			position: absolute;
			top: -9999px;
			clip: rect(0, 0, 0, 0);
		}
		label {
			float: right;
			width: 1em;
			padding: 0 .1em;
			overflow: hidden;
			white-space: nowrap;
			cursor: pointer;
			font-size: 200%;
			line-height: 1.2;
			color: #ddd;
			text-shadow: 1px 1px #bbb, 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
			&:before {
				content: '★';
			}
			&:hover {
				color: gold;
				text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
				~ label {
					color: gold;
					text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
	> {
		input:checked {
			+ label:hover, ~ label:hover {
				color: #ea0;
				text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
				~ label {
					color: #ea0;
					text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
				}
			}
		}
		label {
			&:hover ~ input:checked ~ label {
				color: #ea0;
				text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
			}
			&:active {
				position: relative;
				top: 2px;
				left: 2px;
			}
		}
	}
}

/* Конструкция :not(:checked) работает как фильтр, чтобы браузеры, которые не поддерживают псевдокласс :checked не применяли эти свойства. Все браузеры, поддерживающие псевдокласс :checked, поддерживают и псевдокласс :not(), так что фильтр должен отработать правильно. */

/*
.rating > input:checked ~ label {
	color: #f70;
	text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
*/

/*------------------------------------------------------------------------*/

.reviewsMain {
	img {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		overflow: hidden;
		align-items: center;

	}
	background-color: #f0f0f0;
	p {
		color: gray;
		font-size: 14px;
	}
	h4 {
		font-weight: bold;
		font-size: 20px;
	}
	h2{
		font-weight: bold;
		text-align:center;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.reviewAuthor{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
footer {
	background-color: #98a4b7;
	img {
		height: 50px;
	}
	span {
		font-size: 10px;
	}
}

/*-----------------------------------EnterPage---------------------------------------------------------*/

.registrationBlock h1 {
	text-align: center;
}

.EnterPageBg {
	background-image: url(signin.jpeg);
	background-size: cover;
	width: 100%;
	height: 100vh;

}

.enterDesc {
	padding-top: 100px;
	text-align: center;
	p {
		color: gray;
	}
	h2 {
		text-transform: uppercase;
		text-align: center;
	}
}

.registrationBlock {
	margin-top: 30px;
	padding: 60px;
	background-color: #f0f0f0;
	float: right;
	width: 500px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin-bottom: 30px;
}
.gray{
	color: gray
}
/*-------------------------------------------------------Add hotel ----------------------*/
.hotelInfo{
	padding-left: 30px;
	background:linear-gradient(to bottom, #fff, #e8f6f7, #fff) ;
	h1{
		text-align:center;
	}
}
.raiting{
	display: inline;
	color: #ffd344;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 1px 1px 2px black, 0 0 1em yellow;
}
.addHotel {
	background-image: url(addHotel.jpeg);
	background-size: cover;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;


}

.addingForm {
	background-color: #f0f0f0;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	width: 600px;
	font-size: 14px;
}

/*------------------------Registration Page-----------------------------------------------*/

.regPageBg {
	background-image: url(signup.jpeg);
	background-size: cover;
	width: 100%;



}
input[type="text"], textarea, input[type="number"]{
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.writeReview {
	background: linear-gradient(to bottom, #fff, #b3f99d, #f0f0f0); }
	.writeReview .reviewDescr {
		padding-top: 150px;
		text-align: center; }
		.writeReview .reviewDescr p {
			color: gray; }
			.writeReview .registrationBlock {
				margin-bottom: 50px; }
