<div class="roomType">
<div class="nested-fields">
  <%= f.input :roomtype , placeholder: "Room-type"  %>
  <%= f.input :price %>
  <%= f.input :description , placeholder: "Description of hotel"  %>
 <!-- <%= link_to_remove_association "remove room", f %>-->
</div>
</div>